[submodule "geth/go-ethereum"]
	path = geth/go-ethereum
	url = https://github.com/mdehoog/go-ethereum
	branch = eip-4844
[submodule "lighthouse/lighthouse"]
	path = lighthouse/lighthouse
	url = https://github.com/sigp/lighthouse
	branch = deneb-free-blobs
[submodule "ethereum-genesis-generator"]
	path = ethereum-genesis-generator
	url = https://github.com/syntrust/ethereum-genesis-generator.git
	branch = feat/eip4844
